
<h1>여기는 지난 글목록입니다.</h1>
<% @everypost.each do |p| %>
제목 : <%= p.Title %><br>
내용 : <%= p.Content %><br>
시간 : <%= p.created_at %>
<a href = "/update_view/<%= p.id %>">[수정]</a>
<a href = "/destroy/<%= p.id %>">[삭제]</a>

<hr>
<% end %>
<h1><a href = "/">게시판 글쓰러 가기</a></h1>